In [1]:
import os
import pandas as pd

In [2]:
file_to_load = os.path.join('Resources', 'students_complete.csv')
students_data_df=pd.read_csv(file_to_load)

In [7]:
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [52]:
student_names = students_data_df["student_name"].tolist()
students_to_fix = []
prefixes = []
suffixes = []
corrected_student_names = []

In [53]:
for student in student_names:
    if len(student.split())>=3:
        students_to_fix.append(student)
print (len(students_to_fix))

1531

In [54]:
for student in students_to_fix:
    student_name = student.split()
    if (len(student_name[0]) <= 4) and (student_name[0] not in prefixes):
        prefixes.append(student_name[0])
print (prefixes)

['Dr.', 'Mr.', 'Miss', 'Luke', 'Mrs.', 'Mary', 'Tara', 'John', 'Dale', 'Ms.', 'Amy', 'Lisa', 'Mark', 'Cody', 'Sara', 'Ryan', 'Tony', 'Jodi', 'Ruth', 'Adam', 'Eric', 'Kyle', 'Lynn', 'Jon', 'Judy', 'Tina', 'Paul', 'Marc', 'Jill', 'Carl', 'Jose', 'Emma', 'Gary', 'Lori', 'Noah', 'Dawn', 'Chad', 'Anne', 'Troy', 'Anna', 'Mike', 'Todd', 'Leah', 'Ian', 'Kari', 'Kara', 'Cory', 'Erin', 'Greg', 'Joe', 'Dana', 'Erik', 'Gail', 'Omar', 'Seth', 'Gina', 'Sean', 'Toni', 'Kim']

In [61]:
prefixes_to_remove = ['Dr. ', 'Mr. ', 'Miss ', 'Mrs. ', 'Ms. ']

In [62]:
for student in students_to_fix:
    student_name = student.split()
    if (len(student_name[-1])<=3) and (student_name[-1] not in suffixes):
        suffixes.append(student_name[-1])
print (suffixes)

['MD', 'III', 'DVM', 'DDS', 'II', 'PhD', 'Lee', 'Jr.', 'IV', 'Cox', 'Roy', 'Day', 'V', 'Kim', 'Li']

In [63]:
suffixes_to_remove = [' MD', ' DVM', ' DDS', ' PhD']

In [64]:
print (suffixes_to_remove)
print(prefixes_to_remove)

[' MD', ' DVM', ' DDS', ' PhD']
['Dr. ', 'Mr. ', 'Miss ', 'Mrs. ', 'Ms. ']

In [65]:
prefixes_and_suffixes_to_remove = suffixes_to_remove + prefixes_to_remove

In [66]:
prefixes_and_suffixes_to_remove

[' MD', ' DVM', ' DDS', ' PhD', 'Dr. ', 'Mr. ', 'Miss ', 'Mrs. ', 'Ms. ']