In [1]:
# list of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson HIgh School","Wright High School"]
for element in high_schools:
    print(element)

Hernandez High School
Figueroa High School
Wilson HIgh School
Wright High School

In [8]:
# A list of dictionaries with high school name and type
high_school_types = [{'high school':'griffin','type':'district'},
                    {'high school':'figueroa','type':'district'},
                    {'high school':'wilson','type':'charter'},
                     {'high school':'wright','type':'charter'}]
for row in high_school_types:
    print(row)

{'high school': 'griffin', 'type': 'district'}
{'high school': 'figueroa', 'type': 'district'}
{'high school': 'wilson', 'type': 'charter'}
{'high school': 'wright', 'type': 'charter'}

In [10]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", 
                "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", 
                "Thomas High School"]

In [11]:
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [12]:
import pandas as pd

In [15]:
high_schools_series = pd.Series(high_schools)

In [16]:
high_schools_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [22]:
index = 0
for row in high_schools_series:
    print(row)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [25]:
high_school_dicts=[{'school id': 0, 'school name':'huang high school', 'type':'district'}, 
                  {'school id': 1, 'school name': 'figueroa high school', 'type':'district'},
                   {'school id': 2, 'school name':'shelton high school', 'type':'charter'},
                  {'school id': 3, 'school name':'hernandez high school', 'type':'district'},
                  {'school id': 4, 'school name':'griffin high school', 'type':'charter'}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)

In [27]:
school_df

   school id            school name      type
0          0      huang high school  district
1          1   figueroa high school  district
2          2    shelton high school   charter
3          3  hernandez high school  district
4          4    griffin high school   charter

In [29]:
school_id = [0,1,2,3,4]
school_name = ['huang high school','figueroa high school','shelton high school',
               'hernandez high school','griffin high school']
school_type = ['district','district','charter','district','charter']

In [30]:
high_school_df = pd.DataFrame()

In [31]:
high_school_df['school id']=school_id
high_school_df['school name]'] = school_name
high_school_df['school type'] = school_type

In [32]:
high_school_df

   school id           school name] school type
0          0      huang high school    district
1          1   figueroa high school    district
2          2    shelton high school     charter
3          3  hernandez high school    district
4          4    griffin high school     charter

In [34]:
high_schools_dict = {'school id':school_id, 'school name':school_name, 'school type':school_type}

In [35]:
school_df = pd.DataFrame.(high_schools_dict)

SyntaxError: invalid syntax (<ipython-input-35-2f0f00b55b4c>, line 1)

In [36]:
school_df = pd.DataFrame(high_schools_dict)

In [37]:
school_df

   school id            school name school type
0          0      huang high school    district
1          1   figueroa high school    district
2          2    shelton high school     charter
3          3  hernandez high school    district
4          4    griffin high school     charter

In [38]:
school_df.columns

Index(['school id', 'school name', 'school type'], dtype='object')

In [39]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [41]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ['Huang','Figueroa','Shelton','Hernandex','Griffin','Wilson','Cabrera','Bailey','HOlden','Pena','Wright',
              'Rodriguez','Johnson','Ford','Thomas']
school_type = ['district','district','charter','district','charter','charter','charter','district',
               'charter','charter','charter','district','district','district','charter']

In [43]:
high_schools_dict = {'school id':school_id, 'school name':school_name, 'school type':school_type}

In [46]:
high_schools_dict
high_schools_df = pd.DataFrame(high_schools_dict)

In [47]:
high_schools_df

   school id            school name school type
0          0      huang high school    district
1          1   figueroa high school    district
2          2    shelton high school     charter
3          3  hernandez high school    district
4          4    griffin high school     charter

In [60]:
import os

In [61]:
file_to_load = os.path.join("Resources","schools_complete.csv")

In [62]:
data_from_csv = pd.read_csv(file_to_load)

In [63]:
schools_df = pd.DataFrame(data_from_csv,)

In [64]:
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130